*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mario{
    display: table;
    width: 100%;
    height: 100vh;
    color: white;
    background: url('https://images3.alphacoders.com/572/thumb-1920-572107.jpg') no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;
}

.lol{
    display: table;
    width: 100%;
    height: 100vh;
    color: white;
    background: url('https://i.pinimg.com/originals/60/d7/00/60d7000ee500375f42e8b70fcc8644e2.jpg') no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover; 
}

.hp{
   background-color: rgb(5, 5, 5);
}

button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    margin: 20px 10px 20px 20px;
    outline: 0;
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(105, 104, 105, 0.281);
    font-weight: bold;
    color: white;
}

button:hover{
    background-color: rgba(238, 235, 237, 0.377);

  
}

.container{
    display: flex;
 
}

.memory-game{
    height: 500px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /*cair da linha, quando não couber*/
    perspective: 1000px;
}

.card{
    height: calc( 33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*não deixa o elemento achatado no plano*/
    transition: transform .9s;
}

.card:active{
    transform: scale(0.98);
    transition: transform .3s;
}

.card-front,
.card-back{
    width: 100%;
    height: 100%; 
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    backface-visibility: hidden;
}

.card-mario {
    padding: 20px;
}

.card-front{
    transform: rotateY(180deg);
}

/*animação flip card*/

.card.flip{
    transform: rotateY(180deg);
}